.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.menu button {
    background: transparent;
    color: #33ff66;
    border: 2px solid #33ff66;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 0 0 5px #33ff66;
}

.menu button:hover {
    background: rgba(51, 255, 102, 0.1);
}

button {
  background-color: #111;
  border: 2px solid #33ff66;
  padding: 12px 20px;
  margin: 10px;
  color: #33ff66;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #33ff66;
  color: #111;
}

.button-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
